<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base.html" />
<%! from django.core.urlresolvers import reverse %>
<%block name="title">Static Pages</%block>
<%block name="bodyclass">is-signedin course pages static-pages</%block>

<%block name="jsextra">
  <script type='text/javascript'>
    new CMS.Views.TabsEdit({
      el: $('.tab-list'),
      model: new CMS.Models.Module({
        id: '${context_course.location}'
      }),
      mast: $('.wrapper-mast')
    });
  </script>
</%block>

<%block name="content">
<div class="wrapper-mast wrapper">
  <header class="mast has-actions has-subtitle">
    <h1 class="page-header">
      <small class="subtitle">${_("Content")}</small>
      <span class="sr">&gt; </span>${_("Pages")}
    </h1>

    <nav class="nav-actions">
      <h3 class="sr">${_("Page Actions")}</h3>
      <ul>
        <li class="nav-item">
        <a href="#" class="button new-button new-tab"><i class="icon-plus"></i> ${_("New Page")}</a>
        </li>
      </ul>
    </nav>
  </header>
</div>

<div class="wrapper-content wrapper">
  <section class="content">
    <article class="content-primary" role="main">

  <div class="inner-wrapper">
    <article class="unit-body">

      <div class="tab-list">
        <ol class='components'>
          % for id in components:
          <li class="component" data-id="${id}"/>
          % endfor

          <li class="new-component-item">

          </li>

<!-- for testing -->
<li class="component" data-id="">
  <link href="/static/css/vendor/html5-input-polyfills/number-polyfill.css" type="text/css" rel="stylesheet"></link>
  <div class="wrapper wrapper-component-editor"></div>
    <div class="component-actions actions-list-wrap">
      <ul class="actions-list">
        <li class="action-item action-edit"><a data-tooltip="${_('Edit this page')}" class="edit-page-button action-button" href="#"><i class="icon-pencil"></i> <span class="sr">${_("Edit this page")}</span></a></li>
        <li class="action-item action-delete"><a data-tooltip="${_('Delete this page')}" class="remove-page-button action-button" href="#"><i class="icon-remove-sign"></i> <span class="sr">${_("Delete this page")}</span></a></li>
        <li class="action-item action-visible">
            <label for="[id]"><span class="sr">${_("Show this page")}</span></label>
            <input type="checkbox" id="[id]" class="toggle-checkbox" data-tooltip="${_('Show/hide page')}" />
            <div class="action-button"><i class="icon-eye-open"></i><i class="icon-eye-close"></i></div>
        </li>
        <li class="action-item actions-show-list"><button class="toggle-actions-view"><i class="icon-cog"></i> <span class="sr">${_("Show actions")}</span></button></li>
      </ul>


    </div>
    <a class="drag-handle" href="#" data-tooltip="Drag to reorder"></a>
    <section class="xmodule_display xmodule_StaticTabModule" data-type="HTMLModule"> C.A.T. </section>
</li>
<!-- end for testing -->
        </ol>
      </div>
    </article>
  </div>

    </article>

    <aside class="content-supplementary" role="complimentary">
        <div class="bit">
          <h3 class="title-3">${_("What are Pages?")}</h3>
          <p>${_("Pages are the items that appear in your course navigation. Some are required (Courseware, Course info), some are optional (discussion, wiki), and you can create your own static pages to hold additional content you want to provide to your students, like a syllabus, calendar, or handouts.")}</p>
        </div>
        <div class="bit">
          <h3 class="title-3">${_("How do Pages look to students in my course?")}</h3>
          <p>${_("Pages are the navigational items that appear across the top of your course.")} <br /> <a rel="modal" href="#preview-lms-staticpages">${_("See an example")}</a></p>
        </div>
      </aside>
  </section>
</div>



<div class="content-modal" id="preview-lms-staticpages">
  <h3 class="title">${_("How Static Pages are Used in Your Course")}</h3>
  <figure>
    <img src="/static/img/preview-lms-staticpages.png" alt="${_('Preview of how Static Pages are used in your course')}" />
    <figcaption class="description">${_("These pages will be presented in your course's main navigation alongside Courseware, Course Info, Discussion, etc.")}</figcaption>
  </figure>

  <a href="#" rel="view" class="action action-modal-close">
    <i class="icon-remove-sign"></i>
    <span class="label">${_("close modal")}</span>
  </a>
</div>
</%block>
