.open-ended-problems,
.combined-notifications
{

    // system feedback - messages
    .msg {
      border-radius: 1px;
      padding: $baseline/2 $baseline*0.75;
      margin-bottom: $baseline;
      font-weight: 600;

      .copy {
        font-weight: 600;
      }
    }

    // TYPE: warning
    .msg-warning {
      border-top: 2px solid $warning-color;
      background: tint($warning-color,95%);
      display: none;
      color: $warning-color;
    }

    // TYPE: confirm
    .msg-confirm {
      border-top: 2px solid $confirm-color;
      background: tint($confirm-color,95%);
      display: none;
      color: $confirm-color;
    }

    // TYPE: error
    .msg-error {
      border-top: 2px solid $error-color;
      background: tint($error-color,95%);

      .copy {
        color: $error-color;
      }
    }

    // inline copy
    .copy-confirm {
      color: $confirm-color;
    }

    .copy-warning {
      color: $warning-color;
    }

    .copy-error {
      color: $error-color;
    }

    padding: 40px;
    .problem-list
    {
        table-layout: auto;
        margin-top: 10px;
        width:70%;
        td, th
        {
            padding: 7px;
        }
    }
    .notification-container
    {
        margin: 30px 0px;
    }

    .notification
    {
        margin: 10px;
        width: 30%;
        @include inline-block;
        vertical-align: top;
        .notification-link
        {
            display:block;
            height: 9em;
            padding: 10px;
            border: 1px solid black;
            text-align: center;
            p
            {
                font-size: .9em;
                text-align: center;
            }
        }
        .notification-title
        {
            text-transform: uppercase;
            background: $blue;
            color: white;
            padding: 5px 0px;
            font-size: 1.1em;
        }
        .notification-link:hover,
        .notification-link:focus
        {
            background-color: #eee;
        }
        .notification-description
        {
            padding-top:5%;
        }
        .alert-message
        {
            img
            {
                vertical-align: baseline;
            }
        }
        @include clearfix;
    }

}
